<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>詳細画面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/partsStyle.css">
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
  </head>
  <body class="container-fluid disp-style" style="">
    <div th:replace="cmn/cmnPart :: header"></div>
    <div class="content-area container">
      <div class="row  content-center">
        <div class="col-md-6 items-detail" style="" th:object="${detailsDto}">
          <div class="">
            <label class="items-title" type="" title="書名" style="" th:text="*{productionName}">たのしい！Java</label>
          </div>
          <div>
            <label class="author" type="" title="著者名・編者名" style="" th:text="*{authorName}">著者名・編者名：ウラジーミル・ニシコフ</label>
          </div>
          <div>
            <label class="publishedcomp" type="" title="出版社" style="" th:text="*{publisher}">出版社：講談社</label>
          </div>
          <div>
            <label class="publishedym" type="" title="出版年月" style="" th:text="*{issuedDate}">出版年月：2017.12</label>
          </div>
          <div>
            <label class="isbn-code" type="" title="ISBN" style="" th:text="*{isbnCd}">ISBN：9784114514191</label>
          </div>
        </div>
        <div class="col-md-6" style="">
          <div class="text-center">
            <img src="/resources/image/gazouhaimage.png" style="width:270px;height:300px;"/>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="cmn/cmnPart :: footer"></div>
  </body>
</html>
