<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>書籍検索画面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/partsStyle.css">
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
  </head>
  <body  class="container-fluid disp-style" style="background: #e3e3e3;">
    <div class="row header">
      <span class="project-name">LibraryManagement</span>
    </div>
    <div class="row sub-header">
      <div>
        <p:th text='search' />検索画面
      </div>
    </div>
    <div class="content-area">
      <div class="row">
        <div class="col-md-12" style="">
          <span class="details">書籍検索ができます</span>
          <br />
          <span class="details red">項目を1つ以上入力してください！</span>
        </div>
      </div>
      <div class="text-center " style="">
        <form class="form-horizontal" id="" style="">
          <div class="form-group form-inline">
            <div class="col-md-2">
              <label class="control-label" style="">書名</label>
            </div>
            <div class="col-md-4">
              <input class="form-control input-lg" type="text" placeholder="たのしいJava" size="30" />
            </div>
            <div class="col-md-2">
              <label class="control-label" style="">著者・編者</label>
            </div>
            <div class="col-md-4">
              <input class="form-control input-lg" type="text" placeholder="○○ ○○" size="30" />
            </div>
          </div>
        </form>
        <form class="form-horizontal" id="" style="">
          <div class="form-group form-inline">
            <div class="col-md-2">
              <label class="control-label" style="">ISBNコード</label>
            </div>
            <div class="col-md-4">
              <input class="form-control" type="text" placeholder="9784XXXXXXXXX" size="30" />
            </div>
            <div class="col-md-2">
              <label class="control-label" style="">出版社</label>
            </div>
            <div class="col-md-4">
              <input class="form-control" type="text" placeholder="○○社" size="30" />
            </div>
          </div>
        </form>
        <form class="form-horizontal" id="" style="" action="/search/comfirm">
          <div class="form-group form-inline">
            <div class="col-md-2">
              <label class="control-label" style="">ジャンル</label>
            </div>
            <div class="col-md-4">
              <select class="form-control" >
                <option value="">　すべてのジャンル　</option>
                <option value="">技術書</option>
                <option value="">洋書</option>
                <option value="">児童書</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="control-label" style="">出版年月</label>
            </div>
            <div class="col-md-4">
              <input class="form-control" type="text" placeholder="yyyy/mm" size="30" style="" />
            </div>
          </div>
        </form>
        <form class="form-horizontal" id="" style="" action="/libraryManagement/search/comfirm">
          <div class="form-group form-inline">
            <div class="col-md-2">
              <label class="control-label" style="">タグ</label>
            </div>
            <div class="col-md-4">
              <input class="form-control" type="text" placeholder="タグ" size="30" />
            </div>
          </div>
          <div class="col-md-9 text-right">
           <input class="btn btn-lg btn-primary" type="button" placeholder="" value="検　索" />
           <button type="submit" class="btn btn-primary">confirm</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row footer text-center">
      <div class="col-md-12">
        <span>(c)2018 impetus-act</span>
      </div>
    </div>
  </body>
</html>
