/*
 Copyright: 2018 Impetus-act
 Title: common.css
 Author: Tomomi Nishikata
 */

/* ��ʑS�̂̒��� */
.disp-style {
  background: #e3e3e3;
/*   overflow-y: scroll; */
}

/* ���C���R���e���c�̈� */
.content-area {
  height: calc(100vh - 60px - 60px - 30px);
}

/* �w�b�_�[�̃X�^�C�� */
.header {
  background: #86ee60;
  height: 60px;
  display: block;
  padding: 10px 20px;
}

/* �T�u�w�b�_�[ */
.sub-header {
  background: #99f0ca;
  height: 30px;
  padding: 2px 20px;
}

/* �t�b�^�[ */
.footer {
  background: #233142;
  height: 60px;
  padding: 10px 20px;
  color: #fdfcfc;
}

/* �^�C�g�� */
.project-name {
  font-size: 24px;
}

/* top�y�[�W�{�^���̗]�� */
.topmenu-button {
  margin: 10px;
}

/* �������G���A */
.message-area {
  background: #e3e3e3;
  height: 60px;
  width: 100%;
  display: block;
  padding: 10px 20px;
}

html, body, .content-center {
    height: 100%;           /* 1 */
}

/* �㉺�������� */
.content-center {
  display: flex;          /* 2 */
  justify-content: center;/* 3 */
  align-items: center;    /* 4 */
}
