<!--?xml version="1.0" encoding="UTF-8" ?-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="co.jp.impetus.mapper.DetailsMapper">

    <select id="select" resultType="co.jp.impetus.dto.DetailsDto">
        SELECT
          isbn_cd As isbnCd
          , production_name As productionName
          , author_name As authorName
          , publisher As publisher
          , issued_date As issuedDate
          , price As price
          , category As category
          , book_path As bookPath
          , description1 As description1
          , description2 As description2
          , stock As stock
          , language As language
          , resgister_dt As resgister_Dt
          , register_date As registerDate
          , update_dt As updateDt
          , update_date As updateDate
        FROM
          m_book
    </select>

</mapper>