<!--?xml version="1.0" encoding="UTF-8" ?-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="co.jp.impetus.mapper.SearchMapper">

	<resultMap id="searchResuktMap" type="co.jp.impetus.dto.SearchBookDto">
		<result column="isbn_cd" property="isbnCode" />
		<result column="production_name" property="prouductionName" />
		<result column="author_name" property="authorName" />
		<result column="publisher" property="publisher" />
		<result column="issued_date" property="issuedDate" />
		<result column="price" property="price" />
	</resultMap>

    <select id="selectSearchBookOne"  resultMap="searchResuktMap">
		SELECT
		  isbn_cd
		  , production_name
		  , author_name
		  , publisher
		  , issued_date
		  , price
		FROM
		  m_book
		LIMIT
		  1
    </select>

</mapper>