<!--?xml version="1.0" encoding="UTF-8" ?-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="co.jp.impetus.mapper.LoginMapper">

    <select id="selectAll" parameterType="co.jp.impetus.dto.LoginDto" resultType="co.jp.impetus.dto.LoginResultDto">
        select * from test
    </select>

</mapper>